<li>
	{{burgerName}}
	<button class="isDevoured" data-id="{{id}}" data-newsleep="{{devoured}}">Marked as eaten</button>
	<button class="delete-burger" data-id="{{id}}">Delete Burger :(</button>
</li>
